.Default-button {
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
  color: rgb(69, 32, 69);
}

.Default-button-active {
  background-color: rgb(223, 190, 144);
}

.Default-button:hover {
  background-color: rgb(223, 190, 144);
}


